<div class="split left container-fuild">
  <ul class="side-link">
    <li>
      <a
        class="project-link"
        routerLink="."
        fragment="portfolioProject"
        routerLinkActive="active"
        [routerLinkActiveOptions]="linkActiveOptions"
        (click)="scroll(portfolioProject)"
        >Portfolio Project</a
      >
    </li>
    <li>
      <a
        class="project-link"
        routerLink="."
        fragment="devOpsProject"
        routerLinkActive="active"
        [routerLinkActiveOptions]="linkActiveOptions"
        (click)="scroll(devOpsProject)"
        >DevOps Project</a
      >
    </li>
    <li>
      <a
        class="project-link"
        routerLink="."
        fragment="cloudComputingProject"
        routerLinkActive="active"
        [routerLinkActiveOptions]="linkActiveOptions"
        (click)="scroll(cloudComputingProject)"
        >Cloud Computing Project</a
      >
    </li>
    <li>
      <a
        class="project-link"
        routerLink="."
        fragment="dataAnalysisProject"
        routerLinkActive="active"
        [routerLinkActiveOptions]="linkActiveOptions"
        (click)="scroll(dataAnalysisProject)"
        >Data Analysis Project</a
      >
    </li>
    <li>
      <a
        class="project-link"
        routerLink="."
        fragment="adminSiteProject"
        routerLinkActive="active"
        [routerLinkActiveOptions]="linkActiveOptions"
        (click)="scroll(adminSiteProject)"
        >Admin Website Project</a
      >
    </li>
    <li>
      <a
        class="project-link"
        routerLink="."
        fragment="unitTestProject"
        routerLinkActive="active"
        [routerLinkActiveOptions]="linkActiveOptions"
        (click)="scroll(unitTestProject)"
        >Unit Test Project</a
      >
    </li>
  </ul>
</div>
<div class="split right">
  <h2>Details of the projects I have implemented:</h2>
  <h4 #portfolioProject class="text-primary">Portfolio Project</h4>
  <table class="table table-hover">
    <tr class="table-active">
      <th scope="col" colspan="4" style="text-align: center">
        Project Overview
      </th>
    </tr>
    <tbody>
      <tr>
        <th scope="row">Background</th>
        <td>
          This is my project to build a portfolio website for myself.
        </td>
      </tr>
      <tr>
        <th scope="row">Estimate Cost</th>
        <td>10 person day</td>
      </tr>
      <tr>
        <th scope="row">Technologies</th>
        <td>
          <p>Angular (due to my personal preference)</p>
        </td>
      </tr>
      <tr>
        <th scope="row">Tools Used</th>
        <td>
          <ul>
            <li>Visual Studio Code</li>
            <li>Git</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th scope="row">Source code</th>
        <td>
          <a href="https://github.com/MonieNguyen/portfolio-page-source-code" target="_blank">Go to Github</a>
        </td>
      </tr>
      <tr>
        <th scope="row">Final Product</th>
        <td><a href="https://monienguyen.github.io/">Monie Nguyen's Portfolio website</a> (The website you are viewing)</td>
      </tr>
    </tbody>
  </table>

  <br />
  <h4 #devOpsProject class="text-primary">DevOps Project</h4>
  <table class="table table-hover">
    <tr class="table-active">
      <th scope="col" colspan="4" style="text-align: center">
        Project Overview
      </th>
    </tr>
    <tbody>
      <tr>
        <th scope="row">Background</th>
        <td colspan="3">
          This is a project under the subject: "Enterprise Systems DevOps
          Project" in my master's course.
        </td>
      </tr>
      <tr>
        <th scope="row">Adward</th>
        <td colspan="">
          <i class="text-warning">Best project of the course</i>
        </td>
        <th scope="row">Grade</th>
        <td colspan="">High Distinction</td>
      </tr>
      <tr>
        <th scope="row">Project Objectives</th>
        <td colspan="3">
          To apply DevOps principles and tools to the software development
          processes.
        </td>
      </tr>
      <tr>
        <th scope="row">Team Size</th>
        <td>10 people</td>
        <th scope="row">Duration</th>
        <td>4 sprints in 12 weeks (Effort: ~10h / week / person)</td>
      </tr>
      <tr>
        <th scope="row">Scope of work</th>
        <td colspan="3">
          <ol>
            <li>Develop a Voting Results page</li>
            <li>
              Create and maintain a databse used by other team (developing the
              Online Voting System)
            </li>
          </ol>
        </td>
      </tr>
      <tr>
        <th scope="row">Technologies used</th>
        <td colspan="3">
          <ul>
            <li>Backend: C#, .NET Core API, EntityFramework</li>
            <li>Frontend: Angular</li>
            <li>Database: SQL Server</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th scope="row">Tools Used</th>
        <td colspan="3">
          <ul>
            <li>Visual Studio Code</li>
            <li>SQL Management Studio</li>
            <li>Azure Cloud and Azure DevOps</li>
            <li>Git</li>
            <li>Postman</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th scope="row">Team Organisation</th>
        <td colspan="3">
          <img
            src="./../../../assets/Images/Projects/DevOps/DevOps_Team_Organisation.PNG"
            alt="DevOps Project Team Organisation"
            class="img-50"
          />
        </td>
      </tr>
      <tr>
        <th scope="row">My contribution to the project</th>
        <td colspan="3">
          <p>I have participated in almost all phases of the project:</p>
          <ul>
            <li>Be the first to initiate and outline system requirements</li>
            <li>
              Design Entity Relationship Diagram (ERD) from system requirements
              and contribute ideas to Database design
            </li>
            <li>Create and manage master data for the whole system</li>
            <li>Define and guide Git workflows for team members</li>
            <li>
              Implement some APIs for the backend, and some frontend interfaces
            </li>
            <li>Assist other team members in completing their parts</li>
            <li>
              Write test scripts for API automation testing and integrate them
              to run automatically on Azure CI/CD
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <th scope="row">Source code</th>
        <td colspan="3">
          <p class="text-danger">
            Cannot be made public due to the integrity of the master's course
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <h5 class="text-primary">Brief overview of project implementation</h5>
  <ul>
    <li>
      <p class="text-info">Voting System Entity Relationship Diagram:</p>
      <img
        src="./../../../assets/Images/Projects/DevOps/DevOps_ERD.png"
        alt="Voting System Entity RelationShip Diagram"
      />
    </li>
    <li>
      <p class="text-info">
        Prepare data and bulk insert data into local database:
      </p>
      <img
        src="./../../../assets/Images/Projects/DevOps/DevOps_Insert_Bulk_Data.PNG"
        alt="Prepare data and bulk insert data into local database"
        class="img-80"
      />
    </li>
    <li>
      <p class="text-info">Git's workflows</p>
      <img
        src="./../../../assets/Images/Projects/DevOps/DevOps_Git_workflows.png"
        alt="DevOps Project Git's workflows"
      />
    </li>
    <li>
      <p class="text-info">Visualisation of Backend Architecture:</p>
      <img
        src="./../../../assets/Images/Projects/DevOps/DevOps_Backend_Architecture.png"
        alt="DevOps Project Backend Architecture"
      />
    </li>
    <li>
      <p class="text-info">Implemented APIs:</p>
      <img
        src="./../../../assets/Images/Projects/DevOps/DevOps_Implemented_APIs.PNG"
        alt="DevOps Project Implemented APIs"
      />
    </li>
    <li>
      <p class="text-info">An API example:</p>
      <img
        src="./../../../assets/Images/Projects/DevOps/DevOps_API_example.PNG"
        alt="DevOps Project API example"
      />
    </li>
    <li>
      <p class="text-info">Visualisation of Frontend Architecture:</p>
      <img
        src="./../../../assets/Images/Projects/DevOps/DevOps_Frontend_Architecture.png"
        alt="DevOps Project Frontend Architecture"
        class="img-50"
      />
    </li>
    <li>
      <p class="text-info">Final Product: Voting Results website</p>
      <img
        src="./../../../assets/Images/Projects/DevOps/DevOps_Voting_Results_website.png"
        alt="DevOps Project Voting Results page"
      />
    </li>
    <li>
      <p class="text-info">API Automation Test Script</p>
      <img
        src="./../../../assets/Images/Projects/DevOps/DevOps_API_Automation_Test_Script.png"
        alt="DevOps Project API Automation Test Script"
      />
    </li>
    <li>
      <p class="text-info">API Automation Test CI/CD on Azure</p>
      <img
        src="./../../../assets/Images/Projects/DevOps/DevOps_API_Automation_Test_CI_CD.png"
        alt="DevOps Project API Automation Test CI/CD on Azure"
      />
    </li>
    <li>
      <p class="text-info">API Automation Test Result</p>
      <img
        src="./../../../assets/Images/Projects/DevOps/DevOps_API_Automation_Test_Result.png"
        alt="DevOps Project API Automation Test Result"
      />
    </li>
  </ul>
  <h5 class="text-warning">To do:</h5>
  <ul>
    <li>Implement error or exception handling</li>
    <li>Implement unit testing</li>
    <li>
      Perform class design to increase the reusability of data structure and
      source code.
    </li>
  </ul>

  <br />
  <h4 #cloudComputingProject class="text-primary">Cloud Computing Project</h4>
  <table class="table table-hover">
    <tr class="table-active">
      <th scope="col" colspan="4" style="text-align: center">
        Project Overview
      </th>
    </tr>
    <tbody>
      <tr>
        <th scope="row">Background</th>
        <td colspan="3">
          This is a project under the subject: "Cloud Computing" in my master's
          course.
        </td>
      </tr>
      <tr>
        <th scope="row">Adward</th>
        <td colspan="">
          <i class="text-warning">Best project of the course</i>
        </td>
        <th scope="row">Grade</th>
        <td colspan="">High Distinction</td>
      </tr>
      <tr>
        <th scope="row">Project Objectives</th>
        <td colspan="3">
          Use Node-RED and various cloud services to develop an Enterprise
          Resource Planning Application module
        </td>
      </tr>
      <tr>
        <th scope="row">Team Size</th>
        <td>5 people</td>
        <th scope="row">Duration</th>
        <td>8 weeks (Effort: ~10h / week / person)</td>
      </tr>
      <tr>
        <th scope="row">Scope of work</th>
        <td colspan="3">
          <p>
            Develop a grocery stores management system consiting of three main
            components
          </p>
          <ol>
            <li>
              Node-RED Editor allowing administrators to modify the system's
              source code
            </li>
            <li>
              Admin dashboard allowing administrators to view store sales,
              earnings, and analytics insights
            </li>
            <li>
              Client website allowing store users to view or search product,
              interact with a chatbot
            </li>
          </ol>
        </td>
      </tr>
      <tr>
        <th scope="row">System main features</th>
        <td>
          Store Administrator User:
          <ol>
            <li>Login</li>
            <li>Add/Edit/Delete source code of the whole system</li>
            <li>View admin dashboard</li>
            <li>
              Receive notification email about products nearly out-of-stock or
              out-of-date
            </li>
          </ol>
        </td>
        <td colspan="2">
          Store Customer User:
          <ol>
            <li>View store information</li>
            <li>View and search product</li>
            <li>Interact with a chatbot</li>
          </ol>
        </td>
      </tr>
      <tr>
        <th scope="row">Technologies and Services Used</th>
        <td colspan="3">
          <ul>
            <li>
              IBM Cloud Services: IBM Cloud Foundry, IBM Cloud Object Storage,
              IBM Watson Assistant
            </li>
            <li>Node-RED (flow-based programming tool) and its palette</li>
            <li>Angular</li>
            <li>Nectar cloud instance</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th scope="row">Application Overview</th>
        <td colspan="3">
          <img
            src="./../../../assets/Images/Projects/Node-RED/Node-RED_Overview.png"
            alt="Node-RED Project Application Overview"
          />
        </td>
      </tr>
      <tr>
        <th scope="row">My contribution to the project</th>
        <td colspan="3">
          <p>I was a key player from idea to implementation:</p>
          <ul>
            <li>Propose ideas and outline system requirements</li>
            <li>Plan and manage project progress</li>
            <li>Design the whole system, design database and prepare data</li>
            <li>Implement client website</li>
            <li>Support other team members in implementing their parts</li>
            <li>Integrate the whole system</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th scope="row">Source code</th>
        <td colspan="3">
          <p class="text-danger">
            Cannot be made public due to the integrity of the master's course
          </p>
        </td>
      </tr>
      <tr>
        <th scope="row">Final Product Demo</th>
        <td colspan="3">
          <video width="70%" controls>
            <source
              src="./../../../assets/videos/Node-RED_project_demo.mp4"
              type="video/mp4"
            />
          </video>
        </td>
      </tr>
    </tbody>
  </table>

  <br />
  <h3 #dataAnalysisProject class="text-primary">Data Analysis Project</h3>
  <table class="table table-hover">
    <tr class="table-active">
      <th scope="col" colspan="4" style="text-align: center">
        Project Overview
      </th>
    </tr>
    <tbody>
      <tr>
        <th scope="row">Background</th>
        <td colspan="3">
          This is a project under the subject: "Data Engineering" in my master's
          course.
        </td>
      </tr>
      <tr>
        <th scope="row">Grade</th>
        <td colspan="3">High Distinction</td>
      </tr>
      <tr>
        <th scope="row">Project Requirements</th>
        <td colspan="3">
          Collect data on a specific topic from the Twitter API or Reddit and
          perform some analysis on the collected data.
        </td>
      </tr>
      <tr>
        <th scope="row">Team Size</th>
        <td>3 people</td>
        <th scope="row">Duration</th>
        <td>6 weeks (Effort: ~10h / week / person)</td>
      </tr>
      <tr>
        <th scope="row">Our team solution</th>
        <td colspan="3">
          <ol>
            <li>
              Use R to collect ~28k tweets including the hashtag "#web" from
              Twitter API
            </li>
            <li>
              Clean data: Remove special characters, words less than 3
              characters, hashtags, tagged accounts, English stop words, links,
              emoji
            </li>
            <li>
              Pre-process data: split into words, convert to required data type
            </li>
            <li>
              Perform 10 different types of data analysis ranging from simple to
              complex
            </li>
          </ol>
        </td>
      </tr>
      <tr>
        <th scope="row">Technologies Used</th>
        <td colspan="3">
          R (a good programming language for data analysis and data
          visualisation)
        </td>
      </tr>
      <tr>
        <th scope="row">My contribution to the project</th>
        <td colspan="3">
          <p>I was a key player from idea to implementation:</p>
          <ul>
            <li>Propose ideas and outline the solution</li>
            <li>Plan and manage project progress</li>
            <li>Collect and pre-process data</li>
            <li>
              Perform the three most complex data analysis in the project:
              co-occurrence network, clustering and topic modelling
            </li>
            <li>Support other team members in implementing their parts</li>
            <li>Integrate the whole solution</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th scope="row">Source code</th>
        <td colspan="3">
          <p class="text-danger">
            Cannot be made public due to the integrity of the master's course
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <h5 class="text-primary">Some pictures of the final result:</h5>
  <ul>
    <li>
      <p class="text-info">Visualise top 10 popular hashtags</p>
      <img
        src="./../../../assets/Images/Projects/DAProject/DAProject_top_10_popular_hashtags.PNG"
        alt="Data Analysis Project - Top 10 popular hashtags"
      />
    </li>
    <li>
      <p class="text-info">Sentiments Analysis</p>
      <img
        src="./../../../assets/Images/Projects/DAProject/DAProject_Sentiments_analysis.PNG"
        alt="Data Analysis Project - Sentiments Analysis"
      />
    </li>
    <li>
      <p class="text-info">Co-occurence Network Analysis</p>
      <img
        src="./../../../assets/Images/Projects/DAProject/DAProject_co-occurence_analysis.PNG"
        alt="Data Analysis Project - Co-occurence Network Analysis"
      />
    </li>
    <li>
      <p class="text-info">
        Find the best number of topics from tweet contents
      </p>
      <img
        src="./../../../assets/Images/Projects/DAProject/DAProject_Find_Number_of_topics.PNG"
        alt="Data Analysis Project - Find the best number of topics from tweet contents"
      />
    </li>
    <li>
      <p class="text-info">Topic modelling</p>
      <img
        src="./../../../assets/Images/Projects/DAProject/DAProject_Topic_Modelling.PNG"
        alt="Data Analysis Project - Topic modelling"
      />
    </li>
  </ul>

  <br />
  <h3 #adminSiteProject class="text-primary">Admin Website Project</h3>
  <table class="table table-hover">
    <tr class="table-active">
      <th scope="col" colspan="4" style="text-align: center">
        Project Overview
      </th>
    </tr>
    <tbody>
      <tr>
        <th scope="row">Background</th>
        <td colspan="3">
          This is a project under the subject: "Web-based Systems Development"
          in my master's course.
        </td>
      </tr>
      <tr>
        <th scope="row">Grade</th>
        <td colspan="3">High Distinction</td>
      </tr>
      <tr>
        <th scope="row">Project Requirements</th>
        <td colspan="3">
          Use technologies introduced in the course to develop a content
          management website where admins and managers can perform different
          activities.
        </td>
      </tr>
      <tr>
        <th scope="row">Team Size</th>
        <td>5 people</td>
        <th scope="row">Duration</th>
        <td>6 weeks (Effort: ~10h / week / person)</td>
      </tr>
      <tr>
        <th scope="row">Technologies Used</th>
        <td colspan="3">
          <ul>
            <li>HTML, CSS, Javascript, PHP and MySQL database</li>
            <li>The use of framework was not allowed.</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th scope="row">Tools Used</th>
        <td colspan="3">
          <ul>
            <li>
              XAMPP (free and open-source web server solution stack package
              developed by Apache Friends)
            </li>
            <li>Git</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th scope="row">Our team solution</th>
        <td colspan="3">
          <p>
            Develop an admin site for a kitchenware store with main Use Case as
            in the below picture
          </p>
          <img
            src="./../../../assets/Images/Projects/AdminSite/AdminSiteProject_use_case.PNG"
            alt="Kinchenware CMS main Use Case Diagram"
          />
        </td>
      </tr>
      <tr>
        <th scope="row">My contribution to the project</th>
        <td colspan="3">
          <p>I was a key player from idea to implementation:</p>
          <ul>
            <li>Propose ideas and outline the solution</li>
            <li>Plan and manage project progress</li>
            <li>Design and create database and test data</li>
            <li>
              Implement functions: Login/Logout, Logs, add Product and commonly
              used functions
            </li>
            <li>Support other team members in implementing their parts</li>
            <li>Integrate the whole system</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th scope="row">Source code</th>
        <td colspan="3">
          <p class="text-danger">
            Cannot be made public due to the integrity of the master's course
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <h5 class="text-primary">Some pictures of the final result:</h5>
  <ul>
    <li>
      <p class="text-info">Sitemap</p>
      <img
        src="./../../../assets/Images/Projects/AdminSite/AdminSiteProject_site_map.PNG"
        alt="Admin website Project - Sitemap"
      />
    </li>
    <li>
      <p class="text-info">Login page</p>
      <img
        src="./../../../assets/Images/Projects/AdminSite/AdminSiteProject_Login_page.PNG"
        alt="Admin website Project - Login page"
      />
    </li>
    <li>
      <p class="text-info">Admin Dashboard</p>
      <img
        src="./../../../assets/Images/Projects/AdminSite/AdminSiteProject_Admin_Dashboard.PNG"
        alt="Admin website Project - Admin Dashboard"
      />
    </li>
    <li>
      <p class="text-info">Manager Dashboard</p>
      <img
        src="./../../../assets/Images/Projects/AdminSite/AdminSiteProject_Manager_Dashboard.PNG"
        alt="Admin website Project - Manager Dashboard"
      />
    </li>
    <li>
      <p class="text-info">Add new product</p>
      <img
        src="./../../../assets/Images/Projects/AdminSite/AdminSiteProject_Add_New_Product.PNG"
        alt="Admin website Project - Add new product"
      />
    </li>
  </ul>

  <br />
  <h3 #unitTestProject class="text-primary">Unit Test Project</h3>
  <table class="table table-hover">
    <tr class="table-active">
      <th scope="col" colspan="4" style="text-align: center">
        Project Overview
      </th>
    </tr>
    <tbody>
      <tr>
        <th scope="row">Background</th>
        <td colspan="3">
          This is a project under the subject: "Application Development" in my
          master's course.
        </td>
      </tr>
      <tr>
        <th scope="row">Grade</th>
        <td>High Distinction</td>
        <th scope="row">Important point</th>
        <td>
          <p class="text-warning">
            Our Unit Test Coverage Rate was very high (>97%)
          </p>
        </td>
      </tr>
      <tr>
        <th scope="row">Project Requirements</th>
        <td colspan="3">
          <ul>
            <li>
              Develop a command line application that can parse data from a file
              including data from YouTube API, process and find Trending Topics
            </li>
            <li><p class="text-info">Perform JUnit Test for the project</p></li>
          </ul>
        </td>
      </tr>
      <tr>
        <th scope="row">Team Size</th>
        <td>2 people</td>
        <th scope="row">Duration</th>
        <td>4 weeks (Effort: ~10h / week / person)</td>
      </tr>
      <tr>
        <th scope="row">Technologies and Tools Used</th>
        <td colspan="3">Java, JUnit Test, SVN (subversion management tool)</td>
      </tr>
      <tr>
        <th scope="row">My contribution to the project</th>
        <td colspan="3">
          <ul>
            <li>Contribute ideas for the solution</li>
            <li>
              Refactor the source code developed by my teammate and add more
              code to handle error and exception cases
            </li>
            <li>Prepare test data</li>
            <li>Write JUnit Test script</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th scope="row">Source code</th>
        <td colspan="3">
          <p class="text-danger">
            Cannot be made public due to the integrity of the master's course
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <h5 class="text-primary">Some pictures of the final result:</h5>
  <ul>
    <li>
      <p class="text-info">Program main menu</p>
      <img
        src="./../../../assets/Images/Projects/UTest/YouTubeTrend_main_menu.PNG"
        alt="Data Analysis Project - Program main menu"
        class="img-50"
      />
    </li>
    <li>
      <p class="text-info">Unit Test Coverage</p>
      <img
        src="./../../../assets/Images/Projects/UTest/UTest_coverage_rate.PNG"
        alt="Data Analysis Project - Unit Test Coverage"
        class="img-80"
      />
    </li>
  </ul>
  <br /><br /><br /><br /><br /><br /><br />
</div>
