<div class="split left container-fuild">
  <ul class="side-link">
    <li>
      <a
        class="project-link"
        routerLink="."
        fragment="devOpsProject"
        routerLinkActive="active"
        [routerLinkActiveOptions]="linkActiveOptions"
        (click)="scroll(devOpsProject)"
        >DevOps Project</a
      >
    </li>
    <li>
      <a
        class="project-link "
        routerLink="."
        fragment="project2"
        routerLinkActive="active"
        [routerLinkActiveOptions]="linkActiveOptions"
        (click)="scroll(project2)"
        >Project 2</a
      >
    </li>
    <li>
      <a
        class="project-link"
        routerLink="."
        fragment="project3"
        routerLinkActive="active"
        [routerLinkActiveOptions]="linkActiveOptions"
        (click)="scroll(project3)"
        >Project 3</a
      >
    </li>
  </ul>
</div>
<div class="split right">
  <h4 #devOpsProject>DevOps Project</h4>
  <h6>Project Overview</h6>
  <ol>
    <li>Develop a voting results page for an election</li>
    <li>Create and maintain a database used by other groups developing online voting systems</li>
  </ol>
  <h6>Project Objective</h6>
  <p>Apply DevOps principle into software development</p>
  
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <h3 #project2>Project 2</h3>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <h3 #project3>Project 3</h3>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
</div>
