<div class="split left container-fuild">
  <ul class="side-link">
    <li>
      <a
        class="project-link"
        routerLink="."
        fragment="devOpsProject"
        routerLinkActive="active"
        [routerLinkActiveOptions]="linkActiveOptions"
        (click)="scroll(devOpsProject)"
        >DevOps Project</a
      >
    </li>
    <li>
      <a
        class="project-link"
        routerLink="."
        fragment="NodeREDProject"
        routerLinkActive="active"
        [routerLinkActiveOptions]="linkActiveOptions"
        (click)="scroll(NodeREDProject)"
        >Node-RED Project</a
      >
    </li>
    <li>
      <a
        class="project-link"
        routerLink="."
        fragment="project3"
        routerLinkActive="active"
        [routerLinkActiveOptions]="linkActiveOptions"
        (click)="scroll(project3)"
        >Project 3</a
      >
    </li>
  </ul>
</div>
<div class="split right">
  <h4 #devOpsProject class="text-primary">DevOps Project</h4>
  <table class="table table-hover">
    <tr class="table-active">
      <th scope="col" colspan="4" style="text-align: center">
        Project Overview
      </th>
    </tr>
    <tbody>
      <tr>
        <th scope="row">Adward</th>
        <td colspan="3"><i>Best project of the course</i></td>
      </tr>
      <tr>
        <th scope="row">Background</th>
        <td colspan="3">
          This is a project under the subject: "Enterprise Systems DevOps
          Project" in my master's course.
        </td>
      </tr>
      <tr>
        <th scope="row">Project Objectives</th>
        <td colspan="3">
          To apply DevOps principles and tools to the software development
          processes.
        </td>
      </tr>
      <tr>
        <th scope="row">Team Size</th>
        <td>10 people</td>
        <th scope="row">Duration</th>
        <td>4 sprints in 12 weeks (Effort: ~10h / week / person)</td>
      </tr>
      <tr>
        <th scope="row">Scope of work</th>
        <td colspan="3">
          <ol>
            <li>Develop a Voting Results page</li>
            <li>
              Create and maintain a databse used by other team (developing the
              Online Voting System)
            </li>
          </ol>
        </td>
      </tr>
      <tr>
        <th scope="row">Technologies used</th>
        <td colspan="3">
          <ul>
            <li>Backend: C#, .NET Core API, EntityFramework</li>
            <li>Frontend: Angular</li>
            <li>Database: SQL Server</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th scope="row">Tools Used</th>
        <td colspan="3">
          <ul>
            <li>Visual Studio Code</li>
            <li>SQL Management Studio</li>
            <li>Azure Cloud and Azure DevOps</li>
            <li>Github</li>
            <li>Postman</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th scope="row">Team Organisation</th>
        <td colspan="3">
          <img
            src="./../../../assets/Images/Projects/DevOps/DevOps_Team_Organisation.PNG"
            alt="DevOps Project Team Organisation"
            class="img-50"
          />
        </td>
      </tr>
      <tr>
        <th scope="row">My contribution to the project</th>
        <td colspan="3">
          <p>I have participated in almost all phases of the project:</p>
          <ul>
            <li>Be the first to initiate and outline system requirements</li>
            <li>
              Design Entity Relationship Diagram (ERD) from system requirements
              and contribute ideas to Database design
            </li>
            <li>Create and manage master data for the whole system</li>
            <li>Define and guide Git workflows for team members</li>
            <li>
              Implement some APIs for the backend, and some frontend interfaces
            </li>
            <li>Assist other team members in completing their parts</li>
            <li>
              Write test scripts for API automation testing and integrate them
              to run automatically on Azure CI/CD
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <th scope="row">Source code</th>
        <td colspan="3">
          <p class="text-danger">
            Cannot be made public due to the integrity of the master's course
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <h5 class="text-primary">Brief overview of project implementation</h5>
  <ul>
    <li>
      <p class="text-info">Voting System Entity Relationship Diagram:</p>
      <img
        src="./../../../assets/Images/Projects/DevOps/DevOps_ERD.png"
        alt="Voting System Entity RelationShip Diagram"
      />
    </li>
    <li>
      <p class="text-info">
        Prepare data and bulk insert data into local database:
      </p>
      <img
        src="./../../../assets/Images/Projects/DevOps/DevOps_Insert_Bulk_Data.PNG"
        alt="Prepare data and bulk insert data into local database"
        class="img-80"
      />
    </li>
    <li>
      <p class="text-info">Git's workflows</p>
      <img
        src="./../../../assets/Images/Projects/DevOps/DevOps_Git_workflows.png"
        alt="DevOps Project Git's workflows"
      />
    </li>
    <li>
      <p class="text-info">Visualisation of Backend Architecture:</p>
      <img
        src="./../../../assets/Images/Projects/DevOps/DevOps_Backend_Architecture.png"
        alt="DevOps Project Backend Architecture"
      />
    </li>
    <li>
      <p class="text-info">Implemented APIs:</p>
      <img
        src="./../../../assets/Images/Projects/DevOps/DevOps_Implemented_APIs.PNG"
        alt="DevOps Project Implemented APIs"
      />
    </li>
    <li>
      <p class="text-info">An API example:</p>
      <img
        src="./../../../assets/Images/Projects/DevOps/DevOps_API_example.PNG"
        alt="DevOps Project API example"
      />
    </li>
    <li>
      <p class="text-info">Visualisation of Frontend Architecture:</p>
      <img
        src="./../../../assets/Images/Projects/DevOps/DevOps_Frontend_Architecture.png"
        alt="DevOps Project Frontend Architecture"
        class="img-50"
      />
    </li>
    <li>
      <p class="text-info">Final Product: Voting Results website</p>
      <img
        src="./../../../assets/Images/Projects/DevOps/DevOps_Voting_Results_website.png"
        alt="DevOps Project Voting Results page"
      />
    </li>
    <li>
      <p class="text-info">API Automation Test Script</p>
      <img
        src="./../../../assets/Images/Projects/DevOps/DevOps_API_Automation_Test_Script.png"
        alt="DevOps Project API Automation Test Script"
      />
    </li>
    <li>
      <p class="text-info">API Automation Test CI/CD on Azure</p>
      <img
        src="./../../../assets/Images/Projects/DevOps/DevOps_API_Automation_Test_CI_CD.png"
        alt="DevOps Project API Automation Test CI/CD on Azure"
      />
    </li>
    <li>
      <p class="text-info">API Automation Test Result</p>
      <img
        src="./../../../assets/Images/Projects/DevOps/DevOps_API_Automation_Test_Result.png"
        alt="DevOps Project API Automation Test Result"
      />
    </li>
  </ul>
  <h5 class="text-warning">To do:</h5>
  <ul>
    <li>Implement error or exception handling</li>
    <li>Implement unit testing</li>
    <li>
      Perform class design to increase the reusability of data structure and
      source code.
    </li>
  </ul>

  <br />
  <h4 #NodeREDProject class="text-primary">Node-RED Project</h4>
  <table class="table table-hover">
    <tr class="table-active">
      <th scope="col" colspan="4" style="text-align: center">
        Project Overview
      </th>
    </tr>
    <tbody>
      <tr>
        <th scope="row">Adward</th>
        <td colspan="3"><i>Best project of the course</i></td>
      </tr>
      <tr>
        <th scope="row">Background</th>
        <td colspan="3">
          This is a project under the subject: "Could Computing" in my master's
          course.
        </td>
      </tr>
      <tr>
        <th scope="row">Project Objectives</th>
        <td colspan="3">
          Use Node-RED and various cloud services to develop an Enterprise
          Resource Planning Application module
        </td>
      </tr>
      <tr>
        <th scope="row">Team Size</th>
        <td>5 people</td>
        <th scope="row">Duration</th>
        <td>8 weeks (Effort: ~10h / week / person)</td>
      </tr>
      <tr>
        <th scope="row">Scope of work</th>
        <td colspan="3">
          <p>
            Develop a grocery stores management system consiting of three main
            components
          </p>
          <ol>
            <li>
              Node-RED Editor allowing administrators to modify the system's
              source code
            </li>
            <li>
              Admin dashboard allowing administrators to view store sales,
              earnings, and analytics insights
            </li>
            <li>
              Client website allowing store users to view or search product,
              interact with a chatbot
            </li>
          </ol>
        </td>
      </tr>
      <tr>
        <th scope="row">System main features</th>
        <td>
          Store Administrator User:
          <ol>
            <li>Login</li>
            <li>Add/Edit/Delete source code of the whole system</li>
            <li>View admin dashboard</li>
            <li>
              Receive notification email about products nearly out-of-stock or
              out-of-date
            </li>
          </ol>
        </td>
        <td colspan="2">
          Store Customer User:
          <ol>
            <li>View store information</li>
            <li>View and search product</li>
            <li>Interact with a chatbot</li>
          </ol>
        </td>
      </tr>
      <tr>
        <th scope="row">Application Overview</th>
        <td colspan="3">
          <img
            src="./../../../assets/Images/Projects/Node-RED/Node-RED_Overview.png"
            alt="Node-RED Project Application Overview"
          />
        </td>
      </tr>
      <tr>
        <th scope="row">Tools and Services Used</th>
        <td colspan="3">
          <img
            src="./../../../assets/Images/Projects/Node-RED/Node-RED_Tools_and_services_used.PNG"
            alt="Node-RED Project Tools and Services Used"
          />
        </td>
      </tr>
      <tr>
        <th scope="row">My contribution to the project</th>
        <td colspan="3">
          <p>I was a key player from idea to implementation:</p>
          <ul>
            <li>Propose ideas and outline system requirements</li>
            <li>Plan and manage project progress</li>
            <li>Design database and prepare data</li>
            <li>Implement client website</li>
            <li>Support other team members in implementing their parts</li>
            <li>Integrate the whole system</li>
            <li>Documentation</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th scope="row">Source code</th>
        <td colspan="3">
          <p class="text-danger">
            Cannot be made public due to the integrity of the master's course
          </p>
        </td>
      </tr>
      <tr>
        <th scope="row">Final Product Demo</th>
        <td colspan="3">
          <video width="70%" controls>
            <source src="./../../../assets/videos/Node-RED_project_demo.mp4" type="video/mp4">
          </video>
        </td>
      </tr>
    </tbody>
  </table>
  <h3 #project3>Project 3</h3>

  <p>
    Applied cutting-edge Computer Vision research to improve personalization and
    image-based recommendations. Applied cutting-edge Computer Vision research
    to improve personalization and image-based recommendations.Applied
    cutting-edge Computer Vision research to improve personalization and
    image-based recommendations.Applied cutting-edge Computer Vision research to
    improve personalization and image-based recommendations.Applied cutting-edge
    Computer Vision research to improve personalization and image-based
    recommendations.Applied cutting-edge Computer Vision research to improve
    personalization and image-based recommendations.
  </p>
</div>
