<h2>Curriculum Vitae</h2>

<h4>
  Download
  <a href="./../../../assets/files/MonieNguyen_CV.pdf" target="_blank"
    >PDF file of Curricular Vitae</a
  >
</h4>

<table class="table table-hover">
  <tbody>
    <tr class="table-primary">
      <th scope="col" colspan="4" class="text-align-center">EDUCATIONS</th>
    </tr>
    <tr>
      <th class="text-nowrap" colspan="2">
        Master of Information Technology at Flinders University in Australia
      </th>
      <td class="text-align-center">GPA: <b>6.68</b>/7</td>
      <td class="text-align-right text-nowrap">
        Duration: Jul 2020 - Dec 2022
      </td>
    </tr>
    <tr>
      <th class="text-nowrap" colspan="2">
        Bachelor of Software Engineering at FPT University in Vietnam
      </th>
      <td class="text-align-center">GPA: 7.74/10</td>
      <td class="text-align-right text-nowrap">
        Duration: Oct 2007 - Apr 2011
      </td>
    </tr>
    <tr class="table-primary">
      <th scope="col" colspan="4" class="text-align-center">
        WORK EXPERIENCES
      </th>
    </tr>
    <tr>
      <th class="fit-content">Feb 2023 – Current</th>
      <td colspan="3">
        Full Stack Developer
        <a href="https://www.pwc.com.au/" target="_blank">PwC Australia</a>

        <p class="table-sub-title"><b>Responsibilities:</b></p>

        <ul>
          <li>
            Worked as a developer within a team of 30 people to maintain and
            enhance a software product used internally at PwC across 70
            countries for over 40 years
          </li>
          <li>
            Troubleshoot and fix bugs by using various technologies such as
            HTML, CSS, JavaScript, JQuery, AngularJS, Angular, VB, C#, .NET, SQL
            Server, RESTful API
          </li>
          <li>
            Analyze specifications, design, implement and test new features
          </li>
          <li>Collaborate with other teams to address user requests</li>
          <li>Support 4 newcomers and review code for others</li>
        </ul>

        <p><b>Achievement:</b></p>
        <ul>
          <li>
            Promoted from Associate to Senior Associate Consultant after
            <b>1.5 years</b> as a full-stack developer, whereas the typical
            timeframe for this promotion is 3 years
          </li>
          <li>
            Became the <b>Subject Matter Expert</b> for a core module after
            upgrading it to a new framework
          </li>
          <li>
            Successfully replicated and troubleshot all assigned product issues,
            including those that were difficult to replicate
          </li>
          <li>
            I have the least development experience in the team, but I can still
            assist others in solving problems, especially those related to
            Angular and AG-Grid (a JavaScript data grid library)
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <th class="fit-content">Jul 2020 - Dec 2022</th>
      <td colspan="3">
        <p>
          Full-time student at
          <a href="https://www.flinders.edu.au/" target="_blank"
            >Flinders University</a
          >
        </p>
        <p><b>Achievement:</b></p>
        <ul>
          <li>
            Chancellor’s Letter of Commendation for excellent academic
            performance
          </li>
          <li>
            MIT Course Best Project in Subjects: DevOps Project, Cloud
            Computing.
          </li>
          <li>
            All my projects got High Distinction mark. Project details are on
            the
            <a routerLink="/showcase" routerLinkActive="active">SHOWCASE</a>
            tab.
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <th class="fit-content">May 2017 – Jun 2020</th>
      <td colspan="3">Full-time mother</td>
    </tr>
    <tr>
      <th class="fit-content">Jan 2014 – Apr 2017</th>
      <td colspan="3">
        Bridge Software Engineer at
        <a
          href="https://www.linkedin.com/company/extreme-viet-nam/"
          target="_blank"
          >Extreme Vietnam Company</a
        >
        (Formerly Alt Plus Vietnam Company)
        <p class="table-sub-title"><b>Responsibilities:</b></p>
        <ul>
          <li>
            Interact with Japanese clients to collect user requirements, then
            analyse and transform them into a system specification for
            Vietnamese development team
          </li>
          <li>
            Plan, manage and report progress of development team (size from 3 to
            10 people)
          </li>
        </ul>
        <p><b>Achievement:</b></p>
        <ul>
          <li>
            <b>Was promoted in a short time.</b> I was hired as a Test Lead, but
            was appointed as a Bridge Software Engineer Associate from day one
            and officially promoted to a Bridge Software Engineer after one
            year.
          </li>
          <li>
            Successfully persuaded Japanese customers to expand the project from
            a 3-person project in 3 months to a 10-person project in 6 months
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <th class="fit-content">Oct – Dec 2013</th>
      <td colspan="3">
        Tester Leader at
        <a href="https://3si.vn/" target="_blank">3S Intersoft JSC Company</a>
        <ul>
          <p class="table-sub-title"><b>Responsibilities:</b></p>
          <li>
            Research requirements and perform mobile application testing at the
            customer side in Japan
          </li>
          <li>Support other team members in their work</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th class="fit-content">Aug – Sep 2013</th>
      <td colspan="3">
        Quality Assurance at
        <a href="https://www.flinters.vn/en/" target="_blank"
          >Flinters Vietnam Company</a
        >
        (Formerly Septeni Vietnam)
        <p class="table-sub-title"><b>Responsibilities:</b></p>
        <ul>
          <li>Study Selenium Test tool and integrate them into Jenkins</li>
          <li>Perform web app testing</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th class="fit-content">May 2011 – Jul 2013</th>
      <td colspan="3">
        Quality Assurance at Vietnam Image Partner System Company (Child company
        of
        <a href="https://www.infocom.co.jp/" target="_blank">Infocom Japan</a> )
        (Closed in Vietnam in July 2013)
        <p class="table-sub-title"><b>Responsibilities:</b></p>
        <ul>
          <li>
            Create and execute test cases for web application and report the
            results
          </li>
        </ul>
        <p><b>Achievement:</b></p>
        <ul>
          <li>
            Being one of 3 employees sent to Japan to participate in
            On-Job-Training at the parent company for 8 months in the field of
            Cloud Computing and Automated Testing
          </li>
        </ul>
      </td>
    </tr>
    <tr class="table-primary">
      <th scope="col" colspan="4" class="text-align-center">SKILLS</th>
    </tr>
    <tr>
      <th class="text-nowrap">Programming languages</th>
      <td colspan="3">Java, PHP, C#, R, Node-RED, HTML, CSS, JavaScript</td>
    </tr>
    <tr>
      <th class="text-nowrap">Frameworks</th>
      <td>Angular, .NET</td>
      <th>Database</th>
      <td>MySQL, SQL Server, SQLite</td>
    </tr>
    <tr>
      <th class="text-nowrap">Tools</th>
      <td colspan="3">
        Azure DevOps, GitHub, Jira, VS Code, Microsoft SQL Server Management
        Studio, Postman
      </td>
    </tr>
    <tr>
      <th class="text-nowrap">Other skills</th>
      <td colspan="3">
        Requirement Elicitation Techniques, Project Management Skills
      </td>
    </tr>

    <tr class="table-primary">
      <th scope="col" colspan="4" class="text-align-center">CERTIFICATES</th>
    </tr>
    <tr>
      <th class="text-nowrap" colspan="3">
        Completed the "Advanced CSS and Sass: Flexbox, Grid, Animations, and
        More" course on Udemy
      </th>
      <td class="text-align-right text-nowrap">Acquired in Jan 2025</td>
    </tr>
    <tr>
      <th class="text-nowrap" colspan="3">
        Completed the "Microsoft Azure AI Fundamentals" course as part of the
        Microsoft Learn AI Skills Challenge
      </th>
      <td class="text-align-right text-nowrap">Acquired in Apr 2024</td>
    </tr>
    <tr>
      <th class="text-nowrap" colspan="3">
        Completed the "AZ-204 Developing Solutions for Microsoft Azure" course
        on Udemy
      </th>
      <td class="text-align-right text-nowrap">Acquired in Mar 2024</td>
    </tr>
    <tr>
      <th class="text-nowrap" colspan="3">
        Completed the "Angular - The Complete Guide (2023 Edition)" course on
        Udemy
      </th>
      <td class="text-align-right text-nowrap">Acquired in Jan 2024</td>
    </tr>
    <tr>
      <th class="text-nowrap" colspan="3">
        Completed the "Angular Router In Depth (Angular 17)" course on Udemy
      </th>
      <td class="text-align-right text-nowrap">Acquired in Nov 2023</td>
    </tr>
    <tr>
      <th class="text-nowrap" colspan="3">
        Completed the "Advanced MySQL Topics" course by Meta on Coursera
      </th>
      <td class="text-align-right text-nowrap">Acquired in Apr 2023</td>
    </tr>
    <tr>
      <th class="text-nowrap" colspan="3">
        Completed the "Database Structures and Management with MySQL" course on
        Coursera by Meta
      </th>
      <td class="text-align-right text-nowrap">Acquired in Mar 2023</td>
    </tr>
    <tr>
      <th class="text-nowrap" colspan="3">
        Completed the "Version Control" course by Meta on Coursera
      </th>
      <td class="text-align-right text-nowrap">Acquired in Mar 2023</td>
    </tr>
    <tr>
      <th class="text-nowrap" colspan="3">
        Completed the "APIs" course by Meta on Coursera
      </th>
      <td class="text-align-right text-nowrap">Acquired in Feb 2023</td>
    </tr>
    <tr>
      <th class="text-nowrap" colspan="3">
        PTE Academic English Language Tests (Overall Core: 69/90)
      </th>
      <td class="text-align-right text-nowrap">Acquired in Dec 2022</td>
    </tr>
    <tr>
      <th class="text-nowrap" colspan="3">
        N2 Certificate Japanese Language Proficiency
      </th>
      <td class="text-align-right text-nowrap">Acquired in Jan 2012</td>
    </tr>
    <tr>
      <th class="text-nowrap" colspan="3">
        ISTQB (International Software Testing Qualifications Board) - Foundation
        Level
      </th>
      <td class="text-align-right text-nowrap">Acquired in Aug 2011</td>
    </tr>
  </tbody>
</table>
