table {
    width: 100%;
    table-layout: auto;
}
.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.text-nowrap {
    white-space: nowrap;
}

.fit-content {
    width: 1px;
    white-space: nowrap;
}