<h2 class="text-primary">Curriculum Vitae</h2>
<table class="table table-hover">
  <tbody>
    <tr class="table-primary">
      <th scope="col" colspan="4" class="text-align-center">EDUCATIONS</th>
    </tr>
    <tr>
      <th class="text-nowrap" colspan="2">
        Master of Information Technology at Flinders University in Australia
      </th>
      <td class="text-align-center">GPA: <b>6.68</b>/7</td>
      <td class="text-align-right text-nowrap">
        Duration: Jul 2020 - Dec 2022
      </td>
    </tr>
    <tr>
      <th class="text-nowrap" colspan="2">
        Bachelor of Software Engineering at FPT University in Vietnam
      </th>
      <td class="text-align-center">GPA: 7.74/10</td>
      <td class="text-align-right text-nowrap">
        Duration: Oct 2007 - Apr 2011
      </td>
    </tr>
    <tr class="table-primary">
      <th scope="col" colspan="4" class="text-align-center">
        WORK EXPERIENCES
      </th>
    </tr>
    <tr>
      <th class="fit-content">Jul 2020 - Dec 2022</th>
      <td colspan="3">
        <p>
          Full-time student at
          <a href="https://www.flinders.edu.au/" target="_blank"
            >Flinders University</a
          >
        </p>
        <p><b>Achievement:</b></p>
        <ul>
          <li>
            Chancellor’s Letter of Commendation for excellent academic
            performance
          </li>
          <li>
            MIT Course Best Project in Subjects: DevOps Project, Cloud
            Computing.
          </li>
          <li>
            All my projects got High Distinction mark. Project details are on the
            <a href="/showcase">Showcase</a> tab.
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <th class="fit-content">May 2017 – Jun 2020</th>
      <td colspan="3">Full-time mother</td>
    </tr>
    <tr>
      <th class="fit-content">Jan 2014 – Apr 2017</th>
      <td colspan="3">
        Bridge Software Engineer at
        <a
          href="https://www.linkedin.com/company/extreme-viet-nam/"
          target="_blank"
          >Extreme Vietnam Company</a
        >
        (Formerly Alt Plus Vietnam Company)
        <ul>
          <li>
            Interact with Japanese clients to collect user requirements, then
            analyse and transform them into a system specification for
            Vietnamese development team
          </li>
          <li>
            Plan, manage and report progress of development team (size from 3 to
            10 people)
          </li>
        </ul>
        <p><b>Achievement:</b></p>
        <ul>
          <li>
            <b>Was promoted in a short time.</b> I was hired as a Test Lead, but
            was appointed as a Bridge Software Engineer Associate from day one
            and officially promoted to a Bridge Software Engineer after one
            year.
          </li>
          <li>
            Successfully persuaded Japanese customers to expand the project from
            a 3-person project in 3 months to a 10-person project in 6 months
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <th class="fit-content">Oct – Dec 2013</th>
      <td colspan="3">
        Tester Leader at
        <a href="https://3si.vn/" target="_blank">3S Intersoft JSC Company</a>
        <ul>
          <li>
            Research requirements and perform mobile application testing at the
            customer side in Japan
          </li>
          <li>Support other team members in their work</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th class="fit-content">Aug – Dec 2013</th>
      <td colspan="3">
        Quality Assurance at
        <a href="https://www.flinters.vn/en/" target="_blank"
          >Flinters Vietnam Company</a
        >
        (Formerly Septeni Vietnam)
        <ul>
          <li>Study Selenium Test tool and integrate them into Jenkins</li>
          <li>Perform web app testing</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th class="fit-content">May 2011 – Jul 2013</th>
      <td colspan="3">
        Quality Assurance at Vietnam Image Partner System Company (Child company
        of
        <a href="https://www.infocom.co.jp/" target="_blank">Infocom Japan</a> )
        (Closed in Vietnam in July 2013)
        <ul>
          <li>
            Create and execute test cases for web application and report the
            results
          </li>
        </ul>
        <p><b>Achievement:</b></p>
        <ul>
          <li>
            Being one of 3 employees sent to Japan to participate in
            On-Job-Training at the parent company for 8 months in the field of
            Cloud Computing and Automated Testing
          </li>
        </ul>
      </td>
    </tr>
    <tr class="table-primary">
        <th scope="col" colspan="4" class="text-align-center">SKILLS</th>
      </tr>
      <tr>
        <th class="text-nowrap">
            Programming languages
        </th>
        <td colspan="3">Java, PHP, C#, R, Node-RED, HTML, CSS, JavaScript</td>
      </tr>
      <tr>
        <th class="text-nowrap">
            Frameworks
        </th>
        <td>Angular, .NET</td>
        <th>Database</th>
        <td>MySQL, SQL Server, SQLite</td>
      </tr>
      <tr>
        <th class="text-nowrap">
            Tools
        </th>
        <td colspan="3">Azure DevOps, GitHub, Jira, VS Code, Microsoft SQL Server Management Studio, Postman</td>
      </tr>
      <tr>
        <th class="text-nowrap">
            Other skills
        </th>
        <td colspan="3">Requirement Elicitation Techniques, Project Management Skills</td>
      </tr>
      
    <tr class="table-primary">
        <th scope="col" colspan="4" class="text-align-center">CERTIFICATES</th>
      </tr>
      <tr>
        <th class="text-nowrap" colspan="3">
        PTE Academic English Language Tests (Overall Core: 69/90)
        </th>
        <td class="text-align-right text-nowrap">
          Acquired in Dec 2022
        </td>
      </tr>
      <tr>
        <th class="text-nowrap" colspan="3">
            N2 Certificate Japanese Language Proficiency
        </th>
        <td class="text-align-right text-nowrap">
          Acquired in Jan 2012
        </td>
      </tr>
      <tr>
        <th class="text-nowrap" colspan="3">
            ISTQB (International Software Testing Qualifications Board) - Foundation Level
        </th>
        <td class="text-align-right text-nowrap">
          Acquired in Aug 2011
        </td>
      </tr>
  </tbody>
</table>
