table {
  width: 100%;
  table-layout: auto;

  .table-sub-title {
    padding-top: 15px;
  }
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-nowrap {
  white-space: nowrap;
}

.fit-content {
  width: 1px;
  white-space: nowrap;
}
