<!--@prettier-->

<h2>Hi,</h2>
<div class="row">
  <div class="col-lg-9">
    <p>
      My name is Thi Huong (Monie) Nguyen. I currently live in Adelaide, South
      Australia.
    </p>

    <p>
      I have over
      <b>6 years of experience in the software development industry</b>. For the
      past 2 years, I have been working as a full-stack web developer at PwC
      Australia. Prior to this, I worked as a Bridge Software Engineer and
      tester for Japanese companies in Vietnam. After taking a 3-year career
      break to focus on raising my children, I decided to return to software
      engineering. I spent 2.5 years studying for a Master's degree in IT at
      Flinders University in South Australia.
    </p>
    <p>
      Although I have only 2 years of experience as a developer, I have
      previously worked in various roles within software development teams. As a
      result, I adapted quickly and was promoted from Associate to Senior
      Associate Consultant after <b>just 1.5 years</b>, whereas the usual
      timeframe for this promotion is 3 years.
    </p>
    <p>
      In addition, I am a <b>detail-oriented person</b>. Throughout my tasks, I
      often proactively suggest and implement changes to improve the user
      experience. I am aware that a developer doesn’t communicate directly with
      the end user, but we communicate through the software. I want users to
      feel that I care about their experience while using the product, even in
      the smallest details.
    </p>
    <p>
      I haven’t yet become an expert in any particular programming language, but
      I am comfortable using
      <b>HTML, CSS, JavaScript, Angular, C#, .NET, and SQL</b>
      to meet the requirements of software products. I am also open to learning
      new languages as needed for a project. Typically, it takes me 1 week to
      familiarise myself with the basics of a new language, 1 week to customise
      it to meet project requirements, and 6 months to become comfortable with
      it and proficient enough to support others.
    </p>
    <p>
      In addition to coding, I am skilled at <b>debugging</b>, from the UI to
      the database, which allows me to troubleshoot production issues, including
      those that are difficult to replicate. I take different perspectives and
      employ various approaches to solve problems.
    </p>
    <p>
      I am also good at <b>self-managing</b> my tasks in alignment with project
      priorities. Usually, my leader just needs to assign tasks to me, and I can
      handle the rest with minimal support from others. I have experience
      working as a Project Manager assistant on a project with a team size of 15
      people, so I know how to stay on top of my responsibilities. Additionally,
      I am transparent about my work, making it easy for other team members to
      understand what I am doing.
    </p>
    <p>
      The details of the projects I have developed can be found in the
      <a routerLink="/showcase" routerLinkActive="active">SHOWCASE</a> tab. Most
      of them are small projects I created during my master's course, but they
      reflect my passion for developing software products.
    </p>
  </div>
  <div class="col-lg-3">
    <img src="./../../../assets/Images/avatar.jpg" alt="Monie Nguyen avatar" />
  </div>
</div>
