<h2>Hi,</h2>
<div class="row">
  <div class="col-lg-9">
    <p>
      My name is Thi Huong Nguyen. I currently live in Adelaide, South
      Australia.
    </p>
    <p>I am actively looking for a job in the software development field.</p>
    <p>
      I have over <b>4 years</b> of experience in software development in
      different roles, such as a <b>Tester</b> and
      <b>Bridge Software Engineer</b>, in Japanese companies in Vietnam.
      However, after studying for a master's degree in IT at
      <b>Flinders University</b> in South Australia, I found my new
      <b>passion for software programming</b>. During the master's course, I
      created several small projects to satisfy the subject requirements and my
      love for software development.
    </p>
    <p>
      My coding skills are minimal, and I have not yet understood any
      programming languages ​​deeply. However, I have been exposed to various
      programming languages, such as
      <b>Java, C# and .NET, PHP, Node-RED, R, HTML, CSS, JavaScript</b>, etc.
      And through studying different coding languages, I realised I could learn
      coding languages ​​quite quickly to meet the project requirements.
      Usually, it took me a week to familiarise myself with the basics of a new
      language and a week to customise them to suit my project requirements. In
      addition, I can spend hours designing, coding, debugging, and observing
      the results without getting bored.
    </p>
    <p>
      The details of my developed projects are on the
      <a routerLink="/showcase" routerLinkActive="active">SHOWCASE</a> tab.
    </p>
  </div>
  <div class="col-lg-3">
    <img
      src="./../../../assets/Images/avatar.jpg"
      alt="Thi Huong Nguyen avatar"
    />
  </div>
</div>
