<h2>Hi,</h2>
<div class="row">
  <div class="col-lg-9">
    <p>
      My name is Thi Huong Nguyen. I currently live in Adelaide, South Australia
    </p>
    <p>
      I have more than four years of experience in software development in
      different roles, such as a Tester and Bridge Software Engineer, in
      Japanese companies in Vietnam. However, after studying for a master's
      degree in IT at Flinders University South Australia, I found my new
      passion for software programming. During the master's course, I created
      several small projects to satisfy the subject requirements and my love for
      software development.
    </p>
    <p>
      Although my coding skills are minimal and I have not yet understood any
      programming languages ​​deeply, I have been exposed to various programming
      languages. And through studying different coding languages, I realised I
      could learn coding languages ​​quite quickly to meet the project
      requirements. I can also spend hours designing, coding, debugging, and
      observing the results without getting bored.
    </p>
    <p>
      The details of my developed projects are on the
      <a href="/showcase">Showcase</a> tab.
    </p>
  </div>
  <div class="col-lg-3">
    <img
      src="./../../../assets/Images/avatar.jpg"
      alt="Thi Huong Nguyen avatar"
    />
  </div>
</div>
